@use '../helpers/functions';

@mixin desktop {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-hoverable {
  @media (min-width: 1201px) and (hover: hover) {
    @content;
  }
}

@mixin mobile-pressable {
  @media (max-width: 1200px) and (hover: none) {
    @content;
  }
}

@mixin line-clamp($linesDesktop, $linesMobile) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $linesDesktop;
  @include md {
    -webkit-line-clamp: $linesMobile;
  }
}

@mixin items-z-index {
  position: relative;
  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      z-index: #{11 - $i};
    }
  }
}

@mixin tab {
  overflow: visible !important;
  & > :global(.swiper-wrapper) {
    transition-property: transform;
    & > :global(.swiper-slide) {
      opacity: 0;
      pointer-events: none;
      transition-property: opacity;
      transition-duration: 0.2s;
      :global(.swiper-slide) {
        pointer-events: auto;
      }
    }
    & > :global(.swiper-slide.swiper-slide-active) {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0.2s !important;
      transition-duration: 0.23s !important;
      z-index: 2;
    }
  }
}
