@use '../helpers/functions';

@mixin desktop {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-hoverable {
  @media (min-width: 1025px) and (hover: hover) {
    @content;
  }
}

@mixin line-clamp($linesDesktop, $linesMobile) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $linesDesktop;
  @include md {
    -webkit-line-clamp: $linesMobile;
  }
}

@mixin items-z-index {
  position: relative;
  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      z-index: #{11 - $i};
    }
  }
}

@mixin btn-hoverable {
  position: relative;
  overflow: hidden;
  .word {
    display: block;
    transition: var(--link-transition);
    &:last-child {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .icon {
    position: relative;
    overflow: hidden;
    svg,
    img {
      transition: var(--link-transition);
      &:first-child {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        opacity: 0;
      }
    }
  }
  @include desktop-hoverable {
    &:hover {
      .word {
        &:first-child {
          transform: translateY(-100%);
          opacity: 0;
        }
        &:last-child {
          transform: translateY(0);
          opacity: 1;
        }
      }
      .icon {
        svg {
          &:first-child {
            transform: translateX(0);
            opacity: 1;
          }
          &:last-child {
            transform: translateX(100%);
            opacity: 0;
          }
        }
      }
    }
  }
}

@mixin overlay {
  position: fixed;
  padding-top: var(--header-height);
  inset: 0;
  z-index: 999999;
  background: rgba(6, 6, 6, 0.8);
  backdrop-filter: blur(54px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.6s ease;
  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
