@use '../../../../styles/helpers/mixins';
@use '../../../../styles/helpers/functions';

.hero {
  position: relative;
  height: 100svh;
  background: #6b6cb1;
  min-height: functions.get-vw(750px);
  & > img,
  & > video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }
  .btn {
    display: none;
  }
}

.content {
  padding: var(--header-height) functions.get-vw(16px) functions.get-vw(60px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(270deg, rgba(181, 182, 251, 0) 0%, #e5d2eb 48.56%, rgba(181, 182, 251, 0) 100%);
    mix-blend-mode: overlay;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.get-vw(141px);
  max-width: functions.get-vw(1380px);
  width: 100%;
  & > * {
    opacity: 0;
    transform: translateY(30px);
  }
}

.topography {
  width: 100%;
  position: relative;
}

.title {
  span {
    display: block;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.subtitle {
  position: absolute;
  z-index: 2;
  top: functions.get-vw(60px);
  right: 0;
  max-width: functions.get-vw(320px);
  text-indent: functions.get-vw(55px);
  transform: translateX(functions.get-vw(102px));
}

.nav {
  background: rgba(#fcfdff, 0.4);
  backdrop-filter: blur(150px);
  border-radius: functions.get-vw(13px);
  padding: functions.get-vw(3px);
}

.navInner {
  background: var(--white-color);
  border-radius: functions.get-vw(13px);
  display: flex;
  padding: functions.get-vw(6px);
  gap: functions.get-vw(3px);
}

.navItem {
  display: flex;
  align-items: center;
  gap: functions.get-vw(7px);
  padding: functions.get-vw(22px) functions.get-vw(28px);
  border-radius: functions.get-vw(8px);
  transition: background var(--default-transition) ease;
  @include mixins.desktop-hoverable {
    &:hover {
      background: #0b1041;
      .navIcon svg {
        stroke: var(--text-color-light);
      }
      .navText {
        color: var(--text-color-light);
        opacity: 1;
      }
    }
  }
  @include mixins.mobile-pressable {
    &:active {
      background: #0b1041;
      .navIcon svg {
        stroke: var(--text-color-light);
      }
      .navText {
        color: var(--text-color-light);
        opacity: 1;
      }
    }
  }
}

.navIcon {
  width: functions.get-vw(20px);
  height: functions.get-vw(20px);
  svg {
    stroke: #0b1041;
    transition: stroke var(--default-transition) ease;
  }
}

.navText {
  font-size: functions.get-vw(16px);
  line-height: 1;
  color: #0b1041;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.69;
  transition: all var(--default-transition) ease;
}

.panelTitle {
  display: none;
}

.panelItem {
  &:last-child {
    display: none;
  }
}

@include mixins.mobile {
  .hero {
    min-height: 460px;
    .btn {
      display: flex;
      margin-top: auto;
    }
  }
  .inner {
    height: 100%;
    max-width: 100%;
    padding-top: 0;
    gap: 0;
  }
  .content {
    padding-inline: 16px;
    padding-bottom: 105px;
  }
  .title {
    span {
      &:first-child {
        text-align: center;
      }
      &:last-child {
        text-align: center;
      }
    }
  }
  .panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100svh;
    z-index: 99;
    background: rgba(#fff, 0.1);
    backdrop-filter: blur(170px);
    padding-top: var(--header-height);
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
    transition: all var(--default-transition) ease !important;
    &.open {
      opacity: 1 !important;
      visibility: visible !important;
      pointer-events: auto !important;
    }
  }
  .panelInner {
    border-top: var(--default-border-width) solid rgba(#101530, 0.11);
    height: 100%;
    padding: 30px 20px 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
  .panelTitle {
    display: block;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #0b1041;
  }
  .panelItem {
    &:last-child {
      display: block;
    }
  }
  .nav {
    background: none;
    backdrop-filter: none;
    border-radius: 0;
    padding-right: 26px;
  }
  .navInner {
    padding: 0;
    background: none;
    gap: 5px;
    flex-wrap: wrap;
  }
  .navItem {
    background: var(--white-color);
    padding: 14px 17px;
    border-radius: 13px;
    gap: 7px;
  }
  .navIcon {
    width: 20px;
    height: 20px;
  }
  .navText {
    font-size: 13px;
    opacity: 1;
  }
  .topography {
    margin-top: auto;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .subtitle {
    max-width: 228px;
    position: static;
    text-indent: 0;
    transform: translateX(0);
  }
}
