.section {
  padding-top: 120px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.type-1 {
  padding-inline: 110px;
}

.type-2 {
  padding-inline: 85px;
}

.type-3 {
  padding-inline: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.subtitle {
  max-width: 580px;
}

.body {
  position: relative;
}
