@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.section {
  padding-top: functions.get-vw(120px);
  padding-bottom: functions.get-vw(60px);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -2;
    top: 0;
    left: 50%;
    width: 120%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ceceff;
    filter: blur(404px);
    transform: translate3d(-50%, 0, 0);
  }
}

.type-1 {
  padding-inline: functions.get-vw(110px);
}

.type-2 {
  padding-inline: functions.get-vw(85px);
}

.type-3 {
  padding-inline: functions.get-vw(25px);
}

.header {
  display: flex;
  flex-direction: column;
  gap: functions.get-vw(40px);
  text-align: center;
  align-items: center;
}

.subtitle {
  max-width: functions.get-vw(580px);
}

.body {
  position: relative;
  z-index: 2;
}

@include mixins.mobile {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    &::before {
      width: 500%;
      left: 0;
      transform: translate3d(-30%, 0, 0);
    }
  }

  .type-1,
  .type-2,
  .type-3 {
    padding-inline: 16px;
  }

  .header {
    gap: 33px;
  }

  .subtitle {
    max-width: 380px;
  }
}
