@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.subtitle {
  line-height: 120%;
  text-transform: uppercase;
  strong {
    font-weight: 600;
  }
}

.big {
  letter-spacing: calc(functions.get-vw(2px) * -1);
  font-size: functions.get-vw(22px);
}

.default {
  font-size: functions.get-vw(16px);
}

@include mixins.mobile {
  .big {
    font-size: 13px;
    letter-spacing: 0;
  }
  .default {
    font-size: 13px;
  }
}
