@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.subscribe {
  background: var(--white-color);
  border-radius: functions.get-vw(30px);
  padding: functions.get-vw(40px);
  max-width: functions.get-vw(600px);
}

.wrapper {
  position: relative;
  &.sent {
    .inner {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
    .message {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition-delay: 0.25s;
    }
  }
}

.inner {
  transition: all 0.3s ease 0s;
}

.title {
  font-weight: 700;
  font-size: functions.get-vw(32px);
  line-height: functions.get-vw(38px);
  margin-bottom: functions.get-vw(16px);
}

.desc {
  font-size: functions.get-vw(18px);
  line-height: 120%;
  margin-bottom: functions.get-vw(26px);
  opacity: 0.8;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: functions.get-vw(14px) functions.get-vw(12px);
}

.input {
  flex: 1;
}

.btn {
  border-radius: functions.get-vw(23px);
}

.text {
  width: 100%;
  opacity: 0.8;
}

.formWrapper {
  position: relative;
}

.message {
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

@include mixins.mobile {
  .subscribe {
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
  }

  .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .desc {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .form {
    gap: 18px;
  }

  .input {
    flex: none;
    width: 100%;
  }

  .btn {
    border-radius: 23px;
    width: 100%;
    height: 66px;
  }

  .text {
    margin-top: -8px;
  }
}
