@use '../../styles/helpers/functions';
@use '../../styles/helpers/mixins';

.list {
  display: flex;
  gap: functions.get-vw(10px);
}

.vertical {
  flex-direction: column;
  .card {
    position: sticky;
    top: functions.get-vw(10px);
  }
  .content {
    padding: functions.get-vw(60px);
    width: 50%;
  }
  .inner {
    flex: 1;
  }
  .photo {
    width: 50%;
  }
  .title {
    font-size: functions.get-vw(50px);
  }
  .desc {
    font-size: functions.get-vw(13px);
  }
}

.horizontal {
  flex-wrap: wrap;
  &.columns-1 {
    .card {
      width: 100%;
    }
  }
  &.columns-2 {
    .card {
      width: calc(50% - functions.get-vw(5px));
    }
  }
  &.columns-3 {
    .card {
      width: calc((100% / 3) - functions.get-vw(7px));
    }
  }
  .card {
    flex-direction: column;
  }
  .content {
    padding: functions.get-vw(40px);
  }
  .title {
    font-size: functions.get-vw(40px);
  }
  .desc {
    font-size: functions.get-vw(18px);
  }
  .photo {
    margin-top: auto;
  }
}

.card {
  background: rgba(#fff, 0.51);
  backdrop-filter: blur(110px);
  padding: functions.get-vw(6px);
  border-radius: functions.get-vw(50px);
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: functions.get-vw(30px);
}

.photo {
  overflow: hidden;
  border-radius: functions.get-vw(45px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: functions.get-vw(30px);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: functions.get-vw(2px);
}

.tag {
  padding: functions.get-vw(9px) functions.get-vw(13px);
  font-size: functions.get-vw(14px);
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: functions.get-vw(40px);
  border: var(--default-border-width) solid rgba(#000, 0.1);
  transition: all var(--default-transition) ease;
  @include mixins.desktop-hoverable {
    &:hover {
      border-color: #101530;
      background: #101530;
      color: var(--white-color);
    }
  }
}

.title {
  font-weight: 600;
  line-height: 110%;
}

.desc {
  line-height: 120%;
}

@include mixins.mobile {
  .list {
    gap: 10px;
  }

  .vertical {
    .card {
      flex-direction: column-reverse;
      top: 10px;
    }
    .content {
      width: calc(100% + 12px);
      margin-bottom: -6px;
      padding: 40px 24px 15px;
    }
    .photo {
      width: 100%;
    }
    .title {
      font-size: 30px;
    }
    .desc {
      font-size: 13px;
    }
  }

  .horizontal {
    .card {
      width: calc(100% + 12px);
    }
    &.columns-1,
    &.columns-2,
    &.columns-3 {
      .card {
        width: calc(100% + 12px);
      }
    }
    .content {
      margin-top: -6px;
      padding: 30px 30px 34px;
    }
    .title {
      font-size: 30px;
    }
    .desc {
      font-size: 13px;
    }
  }

  .card {
    padding: 6px;
    border-radius: 50px;
    .btn {
      border-radius: 999px;
    }
  }

  .inner {
    gap: 30px;
  }

  .content {
    gap: 0;
    margin: 0 -6px;
  }

  .photo {
    aspect-ratio: 1 / 1;
    border-radius: 45px;
  }

  .tags {
    gap: 2px;
  }

  .tag {
    padding: 9px 13px;
    font-size: 9px;
    border-radius: 40px;
  }

  .btn {
    margin: 50px -4px 0;
    width: calc(100% + 8px);
  }
}
