@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  gap: functions.get-vw(11px);
  padding: functions.get-vw(15px) functions.get-vw(18px);
  border-radius: functions.get-vw(13px);
  text-transform: uppercase;
  font-size: functions.get-vw(16px);
  line-height: functions.get-vw(21px);
  .icon {
    width: functions.get-vw(24px);
    height: functions.get-vw(24px);
  }
}

.contained {
  font-weight: 700;
  &.dark {
    color: var(--text-color-light);
    background: #101530;
  }
  &.light {
    background: var(--white-color);
    color: var(--black-color);
  }
}

.outlined {
  font-weight: 500;
  border: var(--default-border-width) solid;
}

.link {
}

@include mixins.mobile {
  .button {
    gap: 11px;
    padding: 15px 18px;
    border-radius: 13px;
    font-size: 14px;
    line-height: 20px;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
