@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all var(--default-transition) ease;
  &.loading {
    pointer-events: none;
    opacity: 0.6;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.icon {
  svg {
    transition: stroke var(--default-transition) ease;
  }
}

.button {
  gap: functions.get-vw(11px);
  padding: functions.get-vw(15px) functions.get-vw(18px);
  border-radius: functions.get-vw(13px);
  text-transform: uppercase;
  font-size: functions.get-vw(16px);
  line-height: functions.get-vw(21px);
  .icon {
    width: functions.get-vw(24px);
    height: functions.get-vw(24px);
  }
}

.contained {
  font-weight: 700;
  border: var(--default-border-width) solid;
  &.dark {
    border-color: #101530;
    color: var(--text-color-light);
    background: #101530;
    .icon svg {
      stroke: var(--white-color);
    }
    @include mixins.desktop-hoverable {
      &:hover {
        background: transparent;
        color: #101530;
        .icon svg {
          stroke: #101530;
        }
      }
    }
    @include mixins.mobile-pressable {
      &:active {
        background: transparent;
        color: #101530;
        .icon svg {
          stroke: #101530;
        }
      }
    }
  }
  &.light {
    border-color: var(--white-color);
    background: var(--white-color);
    color: var(--black-color);
    .icon svg {
      stroke: var(--black-color);
    }
    @include mixins.desktop-hoverable {
      &:hover {
        background: transparent;
        color: var(--white-color);
        .icon svg {
          stroke: var(--white-color);
        }
      }
    }
    @include mixins.mobile-pressable {
      &:active {
        background: transparent;
        color: var(--white-color);
        .icon svg {
          stroke: var(--white-color);
        }
      }
    }
  }
}

.outlined {
  font-weight: 500;
  border: var(--default-border-width) solid;
  &.dark {
    border-color: #101530;
    color: #101530;
    .icon svg {
      stroke: #101530;
    }
    @include mixins.desktop-hoverable {
      &:hover {
        background: #101530;
        color: var(--white-color);
        .icon svg {
          stroke: var(--white-color);
        }
      }
    }
    @include mixins.mobile-pressable {
      &:active {
        background: #101530;
        color: var(--white-color);
        .icon svg {
          stroke: var(--white-color);
        }
      }
    }
  }
  &.light {
    border-color: var(--white-color);
    color: var(--white-color);
    .icon svg {
      stroke: var(--white-color);
    }
    @include mixins.desktop-hoverable {
      &:hover {
        background: var(--white-color);
        color: #101530;
        .icon svg {
          stroke: #101530;
        }
      }
    }
    @include mixins.mobile-pressable {
      &:active {
        background: var(--white-color);
        color: #101530;
        .icon svg {
          stroke: #101530;
        }
      }
    }
  }
}

.link {
}

@include mixins.mobile {
  .button {
    gap: 11px;
    padding: 15px 18px;
    border-radius: 13px;
    font-size: 14px;
    line-height: 20px;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
