.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-inline: var(--header-padding-inline);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.icon {
  width: 27px;
  height: 30px;
  svg {
    fill: var(--text-color-dark);
  }
}
