@use '../../styles/helpers/functions';
@use '../../styles/helpers/mixins';

.footer {
  display: block;
  .list {
    display: flex;
    flex-direction: column;
    gap: functions.get-vw(14px);
  }
  .item {
    @include mixins.desktop-hoverable {
      &:hover {
        .link::before {
          width: 100%;
        }
      }
    }
  }
  .link {
    font-weight: 600;
    font-size: functions.get-vw(18px);
    line-height: 110%;
    color: var(--white-color);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: var(--white-color);
      transition: width var(--default-transition) ease;
    }
  }
}

@include mixins.mobile {
  .footer {
    .list {
      gap: 14px;
    }
    .link {
      font-size: 15px;
    }
  }
}
