@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.field {
  position: relative;
}

.inp {
  font-size: functions.get-vw(18px);
  line-height: 1;
  font-weight: 400;
  padding: functions.get-vw(20px) functions.get-vw(23px);
  border-radius: functions.get-vw(23px);
  border: var(--default-border-width) solid;
}

.label {
  display: block;
}

.inner {
  position: relative;
}

.light {
  .inp {
    color: var(--white-color);
    border-color: rgba(#fff, 0.3);
    &::placeholder {
      color: var(--white-color);
      opacity: 0.5;
    }
  }
}

.dark {
  .inp {
    color: var(--text-color-dark);
    border-color: rgba(#000, 0.3);
    &::placeholder {
      color: var(--text-color-dark);
      opacity: 0.5;
    }
  }
}

.error {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: functions.get-vw(4px) functions.get-vw(6px) functions.get-vw(2px) functions.get-vw(6px);
}

@include mixins.mobile {
  .inp {
    font-size: 13px;
    padding: 24px 23px;
    border-radius: 23px;
  }
  .error {
    padding: 4px 6px 2px 6px;
  }
}
