@use '../../../styles/helpers/functions';
@use '../../../styles/helpers/mixins';

.title {
  font-weight: 600;
  line-height: 80%;
  letter-spacing: calc(functions.get-vw(4px) * -1);
  em,
  i {
    font-weight: 300;
    font-style: italic;
  }
}

.dark {
  color: var(--text-color-dark);
}

.light {
  color: var(--text-color-light);
}

.xl {
  font-size: functions.get-vw(219px);
}

.lg {
  font-size: functions.get-vw(160px);
}

.md {
  font-size: functions.get-vw(79px);
}

.sm {
  font-size: functions.get-vw(28px);
  letter-spacing: 0;
}

@include mixins.mobile {
  .xl {
    font-size: 60px;
  }
  .lg {
    font-size: 60px;
  }
  .md {
    font-size: 60px;
  }
  .sm {
    font-size: 60px;
  }
}
